/*
* CSS definitions for input forms
*
*/

/* frame for input widgets */
.form-section {
	
}

/*** Default DL Definitonen ****/
.form-section  dl {
	margin: 0;
}

/** Field size **/
.form-section dl dd input[type="text"],.form-section dd input[type="password"],.form-section dd select
	{
	width: 100%;
}

.form-section dl dd textarea {
	width: 100%;
	height: 5em;
}