@charset "UTF-8";

/* This theme requires to add  
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css' />
inside the <head></head> area of each page. */

hr {border: 0;}
hr.divider {border-color: #e7e7e2;
    border-style:solid;
    border-width:20px;
    clear: both;
    margin: 0;
}
	
	body {background-color: #e7e7e2;  color: #777;
    font-family: "Open Sans", serif;
    font-size: 1em;
    line-height: 1.6em; }

#header {background: #99cccc url(http://www.creatix.org/orange2east/wp-content/uploads/2013/02/creatix.png) no-repeat center 20px ;color: #555;  position: fixed; top: 0; 
    min-height: 130px; width: 100%; padding: 0; z-index: 5;
    font-size: 80%; font-weight: 200;text-align: center; letter-spacing: 0.85em;}
    
#header>div.row {margin-top: 93px;padding:0;text-transform: lowercase;}
#container {margin-top: 120px;border-bottom: 30px solid #e7e7e2;}
#container p+hr{display:none;}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, #footer1, #footer2
{padding: 40px;} 
.col-6, #footer1, #footer2  { border-right: 30px solid #e7e7e2;border-left: 30px solid #e7e7e2; }
#footer1   { border-bottom: 30px solid #e7e7e2; }
h1,h2,h3,h4,h5,h6 {  font-weight: normal; color:#333538;}
h2 {    color: #9898ca;   font-size: 1.8rem;}
h3 {    color: #A1BAB2;   font-size: 1.15rem;}


.lead {font-size: 1.2em;}
ul,li,ol {  line-height: 24px; list-style: none; margin: 0; padding: 0;}
ul, ol   {padding: 0 0 20px 20px;}
a:link, a:visited {color: #9cc}
a:hover,a:focus { text-decoration: none; outline: none;color: #bb7;	}
button, .button, input, textarea, select {border: 1px dotted #A1BAB2}
.nested {padding: 0;} 

/* Footer */
#footer  {margin: 0 auto;max-width: 1200px;}
#footer1, #footer2 {width: 50%;margin-left: 25%; }

#footer1 {  background: #fff;}
#footer2 {  background: #9898ca; text-transform: uppercase;color: #fff; text-align: center;font-size: 0.8em; }
#footer2>a:link, #footer2>a:visited, #footer2>a:hover, #footer2>a:focus { color: #fff; }
/* Individual Styles for index.html */


.border-r { border-right: 0; }
.border-l { border-left: 0;}



